body
  +font-smoothing

  background: $color-black
  color: $color-grey
  font-size: $font-size-base
  font-family: $font-family-sans-serif
  line-height: $line-height-normal

a
  color: $color-white
  text-decoration: none

.wf-loading
  visibility: hidden
