---
layout: default
---

<header class="projects__intro">
  {{ content }}
</header>
<section class="projects">
  {% for project in site.projects %}
    <article class="project">
      <aside class="project__info">
        <h3 class="project__title">{{ project.title }}</h3>
        {{ project.content }}
      </aside>
      <section class="project__assets">
        {% for asset in project.assets %}
          <figure>
            <a href="{{ asset }}"><img src="{{ asset }}"></a>
          </figure>
        {% endfor %}
      </section>
    </article>
  {% endfor %}
</section>
